body
*
{
    margin:0;padding:0;
}
html,body,.container
{
    height:100%;
}
.container
{
    display:table;
    width: 100%;
    margin-top: -50px;
    padding-top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header
{
    background: green;
    height: 50px;
}
.vcenter {
    top:50%;
    display: inline-block;
    vertical-align: middle;
    float: none
}
.row
{
    height: 100%;
    display: table-row;
}

}
#OP_CG1.form-control.input-sm.text-right
{
    background: yellow;
}
